.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body{
    background: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}

.bgimg {
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0px;
    height: 50%;
}

.whitediv {
    border-radius:25px;
    width: 26.0416%; 
    height: 40.62%; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    background: white;
    box-shadow: 5px 5px 10px hsl(224, 50%, 80%);
}

.illustration{
    width: 100%;
    border-radius : 25px 25px 0 0;
}

h1{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #042649;
    margin-top: 47px;
    margin-bottom: 20px;
}

.text1{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size:21px;
    font-weight: 500;
    color: #8c8c8c;
}

.annualplan{
    width: 80%;
    margin-top: 30px;

  }

.annual{
    height: 110px;
    position: relative;
    top: 25px;
    background: hsl(227, 80%, 98%);
    border-radius:12px;
    width: 400px;
    margin: 0 50px;
}

.musiclogo{
    width: 55px;
    position: relative;
    left: 25px;
    top: 25px;
}

.Annualplan{
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 5px;
    font-weight: 900;
    color: #042649;
}

.price{
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 35px;
    color: #8c8c8c;

}

.changelink{
    position: absolute;
    right: 30px;
    top: 40px;
    color:hsl(245, 75%, 52%);
    font-weight: 700
}

.changelink:hover{
    color: hsl(245, 75%, 65%);
}

.paymentbtn{
    position: relative;
    background: hsl(245, 75%, 52%);
    width: 400px;
    height: 60px;
    margin: 50px;
    border-radius:12px;
    box-shadow: 5px 10px 15px hsl(227, 35%, 81%);
}

.paymentbtn:hover{
    background: hsl(245, 75%, 65%);
}

.payment{
    color: white;
    text-align: center;
    padding: 16px;
}

  .ordercancel{
    text-align: center;
    position: relative;
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 50px;
    bottom: 35px;
}

.cancel{
    margin: auto;
    color: #8c8c8c;
    padding: 12px 0;
}

.cancel:hover{
    color: #042649;
}
